<ng-container *ngIf="User?.wetterlaubnis">
    <div>
        <tr *ngFor="let liga of Ligen">
          <td><a href="/wetteLiga/{{liga.id}}">Liganame: {{liga.name}}</a><img src="{{liga.logoID}}" style="width: 100px;">
          </td>
        </tr>
      </div>
</ng-container>
<ng-container *ngIf="User!==undefined && !User?.wetterlaubnis && wettEntscheidung===undefined">
<button (click)="erlaubnisAnfragen()">Erlaubnis anfragen</button>
</ng-container>
<ng-container *ngIf="wettEntscheidung!==undefined && !wettEntscheidung?.entscheidung">
Auf Entscheidung warten
</ng-container>
<ng-container *ngIf="wettEntscheidung!==undefined && wettEntscheidung?.entscheidung">
{{User?.wetterlaubnis ? "Erlaubnis angenommen" : "Erlaubnis abgelehnt"}}
</ng-container>