<div class="vh-100 d-flex flex-column align-items-center justify-content-center">
  <h1 class="m-2">Kicktipp_projekt</h1>
  <h3 class="m-2">Gruppe G</h3>
  <div class="d-flex flex-column align-items-center card">

    <a href="/login">
      <button class="btn btn-primary m-2" >Login</button>
    </a>

    <a href="/adminRegister">
      <button class="btn btn-primary m-2" >als Admin registrieren</button>
    </a>

    <a href="/register">
      <button class="btn btn-primary m-2" >als Nutzer registrieren</button>
    </a>

  </div>
</div>
