<h1>{{tipprunde.name}}</h1>
<a href="/chatTipprunde/{{id}}">Chat</a>
<ul class="list-group">
<li *ngFor="let mitglied of mitglieder" class="list-group-item">
    <a href="/profil/{{mitglied.benutzerID}}" class="list-group-item list-group-item-action">{{mitglied.name}} : {{mitglied.punkte}}</a>
</li>
</ul>
<form #changeNameForm="ngForm" (ngSubmit)="changeNameSubmit()">
    <div>
        <label>Name ändern</label>
        <input type="text" class="form-control" name="nameandern" id="nameandern" [(ngModel)]="name"> 
    </div>
    <button type="submit">Updaten</button>
</form>
<div *ngIf="checkIfBesitzer(mitglied.benutzerID ? mitglied.benutzerID : -1, tipprunde.besitzerID ? tipprunde.besitzerID : -2)">
    <a href="/tipprundenEinladung/{{tipprunde.id ? tipprunde.id : 0}}">Einladen</a>
</div>
<ul class="list-group">
<li *ngFor="let spiel of nochZuSpielendeSpiele" class="list-group-item">
    <a href="/tipp/{{tipprunde.id ? tipprunde.id : 0}}/{{spiel.id}}" class="list-group-item list-group-item-action">{{spiel.heimteam}} - {{spiel.auswaertsteam}}</a>
</li>
</ul>