<form (ngSubmit)="onSubmit()" #tippspielForm="ngForm">   
    <div class="input-group-col">
        <label>Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name">
    </div>
    <div>
        <label>Liga auswählen</label>
        <select [(ngModel)]="model.ligaId" class="form-select" name="ligaId">
          <option *ngFor="let liga of ligen" [ngValue]="liga.id">{{liga.name}}</option>
        </select>
      </div> 
    <div>
      <label>Siegergewichtung</label>
      <input type="number" class="form-control" id="Siegergewichtung" required [(ngModel)]="model.Siegergewichtung" name="Siegergewichtung"> 
    </div>
    <div>
        <label>Ergebnissgewichtung</label>
        <input type="number" class="form-control" id="Ergebnissgewichtung" required [(ngModel)]="model.Ergebnissgewichtung" name="Ergebnissgewichtung">
    </div>
    <div>
        <label>Tordiffgewichtung</label>
        <input type="number" class="form-control" id="Tordiffgewichtung" required [(ngModel)]="model.Tordiffgewichtung" name="Tordiffgewichtung">
    </div> 
    <div>
        <input type="checkbox" class="form-check-input" id="privat" [(ngModel)]="model.privat" name="privat">
        <label>privat</label>
    </div>
    <div>
        <label>passwort(optional)</label>
        <input type="text" class="form-control" id="passwort" [(ngModel)]="model.passwort" name="passwort">
    </div>   
    <button type="submit" class="btn btn-primary">erstellen</button>
</form>
