<p>Liga hinzufügen</p>
<form #addLigaForm='ngForm' (ngSubmit)="addLigaSubmit()">
  <div>
    <label>Name</label>
    <input [(ngModel)]="liga.name" class="form-control" name="liganame" type="text">
  </div>
  <div>
    <label>Logo</label>
    <input (change)="logoLigaChange($event)" type="file">
  </div>
  <button type="submit">Hinzufügen</button>
</form>
<p>Spiel hinzufügen</p>
<form #addGameForm='ngForm' (ngSubmit)="addGameSubmit()">
  <div>
    <label>Spieltag</label>
    <input [(ngModel)]="spiel.spieltag" class="form-control" name="spielspieltag" type="text">
  </div>
  <div>
    <label>Datum</label>
    <input [(ngModel)]="spiel.datum" class="form-control" name="spieldatum" type="date">
  </div>
  <div>
    <label>Heimtore</label>
    <input [(ngModel)]="spiel.heimtore" class="form-control" name="spielheimtore" type="number">
  </div>
  <div>
    <label>Auswärtstore</label>
    <input [(ngModel)]="spiel.auswaertstore" class="form-control" name="spielauswaertstore" type="number">
  </div>
  <div>
    <label>Heimteam</label>
    <input [(ngModel)]="spiel.heimteam" class="form-control" name="spielheimteam" type="text">
  </div>
  <div>
    <label>Auswärtsteam</label>
    <input [(ngModel)]="spiel.auswaertsteam" class="form-control" name="spielauswaertsteam" type="text">
  </div>
  <div>
    <label>Liga auswählen</label>
    <select [(ngModel)]="spiel.ligaFremdschlussel" class="form-control" name="Ligafremd">
      <option *ngFor="let liga of ligen" [ngValue]="liga.id">{{liga.name}}</option>
    </select>
  </div>
  <button type="submit">Hinzufügen</button>
</form>
<p>CSV einlesen</p>
<form #readInCSVForm='ngForm' (ngSubmit)="readInCSVSubmit()">
  <div>
    <label>CSV-Datei</label>
    <input (change)="setCSVFile($event)" type="file">
  </div>
  <div>
    <label>Liga auswählen</label>
    <select [(ngModel)]="ligaId" class="form-control" name="csvLiga">
      <option *ngFor="let liga of ligen" [ngValue]="liga.id">{{liga.name}}</option>
    </select>
  </div>
  <button type="submit">Hinzufügen</button>
</form>
