<div class="vh-100 d-flex align-items-center justify-content-center">
<div class="d-flex flex-column align-items-center card">

  <a href="/liga">
    <button class="btn btn-primary m-2" >Ligen anzeigen</button>
  </a>

  <a href="/soziales">
  <button class="btn btn-primary m-2" >Soziales</button>
  </a>

  <a href="/tipprundeerstellen">
    <button class="btn btn-primary m-2" >Tipprunde erstellen</button>
  </a>

  <a href="/tipprundenanzeigen">
    <button class="btn btn-primary m-2" >Tipprunden anzeigen</button>
  </a>

  <a href="/minispiel">
    <button class="btn btn-primary m-2" >Minispiele</button>
  </a>

  <a href="/wetten">
    <button class="btn btn-primary m-2" >Wetten</button>
  </a>
</div>
</div>
