<div class="vh-100 d-flex align-items-center justify-content-center">
<div class="d-flex flex-column align-items-center card">

  <a href="/liga">
    <button class="btn btn-primary m-2" >Ligen anzeigen</button>
  </a>

  <a href="/soziales">
  <button class="btn btn-primary m-2" >soziales</button>
  </a>

  <a href="/tipprundeerstellen">
    <button class="btn btn-primary m-2" >tipprunde erstellen</button>
  </a>

  <a href="/tipprundenanzeigen">
    <button class="btn btn-primary m-2" >tipprunden anzeigen</button>
  </a>
</div>
</div>
