<div class="vh-100 d-flex align-items-center justify-content-center mt-0">
  <div class="d-flex flex-column align-items-center card">

    <h3 style="margin-top: 200px;">Soziales</h3>
    <h4 *ngIf="checkLenOfFreunde()">Freunde</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let freund of freunde">
        <div>{{freund.vorname}} {{freund.nachname}}
          <img style="width: 40px;" src="{{freund.profilepicturedata ? freund.profilepicturedata :
          'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png'}}">
        </div>
        <button (click)="deleteFreunde(freund.id ? freund.id : 0)">Freund löschen</button>
        <a href="chatPrivat/{{freund.id}}">Chat</a>
      </li>
    </ul>
    <h4 *ngIf="checkLenOfOffeneFreunde()">Freundschaftsanfragen</h4>
    <ul class="list-group">
    <li class="list-group-item" *ngFor="let freund of offeneFreundschaftsanfragen">
      <div>{{freund.vorname}} {{freund.nachname}}
        <img style="width: 40px;" src="{{freund.profilepicturedata ? freund.profilepicturedata :
        'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png'}}">
      </div>
      <button (click)="anfrageAnnehmen(freund.id ? freund.id : 0)">Annehmen</button>
      <button (click)="deleteFreunde(freund.id ? freund.id : 0)">Ablehnen</button>
    </li>
    </ul>
    <h4 *ngIf="checkLenOfNutzer()">Andere Nutzer</h4>
    <input (input)="suchLeisteOnChange($event)" type="text">
    <ul class="list-group">
    <ng-container *ngFor="let nutzer of nutzerOhneFreunde">
      <li class="list-group-item" *ngIf="searchNutzerByName(nutzer)">
        <div>{{nutzer.vorname}} {{nutzer.nachname}}
          <img style="width: 40px;" src="{{nutzer.profilepicturedata ? nutzer.profilepicturedata :
          'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png'}}">
        </div>
        <button (click)="anfrageErstellen(nutzer.id ? nutzer.id : 0)">Als Freund hinzufügen</button>
      </li>
    </ng-container>
    </ul>
  </div>
</div>
