<form #adminForm='ngForm' (ngSubmit)="onSubmit()">
  <div>
    <label>Vorname</label>
    <input [(ngModel)]="benutzer.vorname" class="form-control" id="vorname" name="vorname" type="text">
  </div>
  <div>
    <label>Nachname</label>
    <input [(ngModel)]="benutzer.nachname" class="form-control" id="nachname" name="nachname" type="text">
  </div>
  <div>
    <label>Email</label>
    <input [(ngModel)]="benutzer.email" class="form-control" id="email" name="email" type="email">
  </div>
  <div>
    <label>Passwort</label>
    <input [(ngModel)]="benutzer.passwort" class="form-control" id="passwort" name="passwort" type="password">
  </div>
  <button type="submit">Registrieren</button>
</form>
