<form #registerForm='ngForm' (ngSubmit)="onSubmit(registerForm)">
  <div>
    <label>Vorname</label>
    <input [(ngModel)]="benutzer.vorname" class="form-control" id="vorname"
           name="vorname" type="text">
  </div>
  <div>
    <label>Nachname</label>
    <input [(ngModel)]="benutzer.nachname" class="form-control" id="nachname"
           name="nachname" type="text">
  </div>
  <div>
    <label>Email</label>
    <input [(ngModel)]="benutzer.email" class="form-control" id="email"
           name="email" type="email">
  </div>
  <div>
    <label>Passwort</label>
    <input [(ngModel)]="benutzer.passwort" class="form-control" id="passwort"
           name="passwort" type="password">
  </div>
  <div>
    <label>Profilbild</label>
    <input (change)="dataConvert($event)" id="profildata" type="file">
  </div>
  <div>
    <label>Geburtsdatum</label>
    <input [(ngModel)]="benutzer.geburtsdatum" class="form-control" id="geburtsdatum" name="geburtsdatum" type="date">
  </div>
  <button type="submit">Registrieren</button>
</form>
{{benutzer.vorname}}
